<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Insertar</title>
</head>
<body>
<h2>Inserccion</h2>

<form action="#" th:action="@{/publish}" method="post">

    <p>Accion:  <select th:field="*{all.accion}">
        <option value="default">--Select an option--</option>
        <option value="insert">insert</option>
    </select></p>

    <p>Nombre: <input type="text" th:field="*{all.nombre}"/>
    <p>Apellido: <input type="text" th:field="*{all.apellido}"/>
        <br/><br/>
    <p>Calle: <input type="text" th:field="*{all.calle}"/>
    <p>Numero: <input type="text" th:field="*{all.numero}"/>
    <p>Direccion: <input type="text" th:field="*{all.ciudad}"/>
        <button type="submit">Add</button>
</form>

</body>
</html>